{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    form {
        margin-top: 1rem;
    }
    .form-group {
        margin-bottom: 1.5rem;
    }
    .form-group label {
        font-size: 1rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
    }
    .form-control {
        border-radius: 5px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
       
        width: 100%;
    }
    
    .text-danger {
        color: #dc3545;
    }

</style>


<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow" style="width: 500px; padding: 2rem; margin: 4rem;">
        <h2 class="card-title text-center">Register Form</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value }}" class="form-control">
                {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" value="{{ form.email.value }}" class="form-control">
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value }}" class="form-control">
                {% if form.password1.errors %}
                    <div class="text-danger">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
                <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value }}" class="form-control">
                {% if form.password2.errors %}
                    <div class="text-danger">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button class="btn btn-primary w-100 mt-3">Register</button> <br> <br>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</div>
{% endblock %}
